
.header {
    font-size: 36px;
    font-weight: bold;
}

.subheader {
    color: #cbd5e1;
    margin-bottom: 30px;
}

.tabsContainer {
  display: flex;
  margin-bottom: 30px;
}

.tab {
  background: transparent;
  border: 1px solid #334155;
  color: #94a3b8;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.activeTab {
  background-color: #334155;
  color: #E2E8F0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card {
  background: #112827;
  border: 1px solid #164E4A;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cardTitle {
  margin: 0;
  font-size: 14px;
  color: #A3D8CE;
  font-weight: 500;
}

.cardIcon {
    font-size: 24px;
    color: #A3D8CE;
}

.cardValue {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
  color: #E2E8F0;
}

.cardSubtext {
  font-size: 12px;
  color: #A3D8CE;
  margin: 0;
  margin-top: auto;
}
