.header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subheader {
  color: #cbd5e1;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 25px;
}

.card,
.overviewCard {
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 15px;
  padding: 25px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    border-color 0.3s ease;
}

.card:hover,
.overviewCard:hover {
  transform: translateY(-5px);
  border-color: #475569;
}

.overviewCard {
  border-color: #dc2626;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overviewIcon {
  font-size: 48px;
  color: #dc2626;
}

.overviewTitle {
  color: #e2e8f0;
  margin-top: 10px;
  font-weight: bold;
}

.overviewSubtitle {
  font-size: 14px;
  color: #94a3b8;
}

.button {
  background-color: transparent;
  color: #94a3b8;
  padding: 8px 16px;
  border: 1px solid #334155;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button:hover {
  background-color: #334155;
  color: #e2e8f0;
}

.eventTitle {
  font-size: 18px;
  font-weight: bold;
  color: #e2e8f0;
}

.eventSubtitle {
  font-size: 12px;
  color: #94a3b8;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.eventData {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.eventDataIcon {
  font-size: 16px;
  color: #94a3b8;
}

.eventValues {
  font-size: 14px;
  color: #e2e8f0;
  font-weight: 500;
}
